@import "tailwindcss";
@import "tw-animate-css";

@config "../tailwind.config.js";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --radius: var(--radius);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-accent-12: var(--accent-12);
  --color-accent-11: var(--accent-11);
  --color-accent-10: var(--accent-10);
  --color-accent-9: var(--accent-9);
  --color-accent-8: var(--accent-8);
  --color-accent-7: var(--accent-7);
  --color-accent-6: var(--accent-6);
  --color-accent-5: var(--accent-5);
  --color-accent-4: var(--accent-4);
  --color-accent-3: var(--accent-3);
  --color-accent-2: var(--accent-2);
  --color-accent-1: var(--accent-1);
  --color-base-12: var(--base-12);
  --color-base-11: var(--base-11);
  --color-base-10: var(--base-10);
  --color-base-9: var(--base-9);
  --color-base-8: var(--base-8);
  --color-base-7: var(--base-7);
  --color-base-6: var(--base-6);
  --color-base-5: var(--base-5);
  --color-base-4: var(--base-4);
  --color-base-3: var(--base-3);
  --color-base-2: var(--base-2);
  --color-base-1: var(--base-1);
}

:root {
  --radius: 0.75rem;
  --background: hsl(120 20% 99.01960784313727%);
  --foreground: hsl(108 8.196721311475414% 11.96078431372549%);
  --card: hsl(120 16.666666666666625% 97.6470588235294%);
  --card-foreground: hsl(108 8.196721311475414% 11.96078431372549%);
  --popover: hsl(120 20% 99.01960784313727%);
  --popover-foreground: hsl(108 8.196721311475414% 11.96078431372549%);
  --primary: hsl(130.96774193548387 42.85714285714285% 42.549019607843135%);
  --primary-foreground: hsl(0 0% 100%);
  --secondary: hsl(120 16.666666666666625% 97.6470588235294%);
  --secondary-foreground: hsl(
    110.00000000000003 3.0612244897959147% 38.431372549019606%
  );
  --muted: hsl(120 16.666666666666625% 97.6470588235294%);
  --muted-foreground: hsl(
    110.00000000000003 3.0612244897959147% 38.431372549019606%
  );
  --accent: hsl(26.493506493506487 31.68724279835391% 47.647058823529406%);
  --accent-foreground: hsl(0 0% 100%);
  --destructive: hsl(10.10869565217391 73.01587301587303% 50.588235294117645%);
  --border: hsl(120 3.8961038961038836% 84.90196078431373%);
  --input: hsl(120 3.8961038961038836% 84.90196078431373%);
  --ring: hsl(120 3.8961038961038836% 84.90196078431373%);
  --chart-1: hsl(26.493506493506487 31.68724279835391% 47.647058823529406%);
  --chart-2: hsl(24.406779661016955 29.648241206030146% 39.01960784313726%);
  --chart-3: hsl(27.52941176470588 34.13654618473896% 51.17647058823529%);
  --chart-4: hsl(27.74999999999999 44.943820224719104% 65.09803921568627%);
  --chart-5: hsl(29.333333333333336 45.45454545454546% 80.58823529411765%);
  --sidebar: oklch(0.985 0.001 106.423);
  --sidebar-foreground: oklch(0.147 0.004 49.25);
  --sidebar-primary: oklch(0.216 0.006 56.043);
  --sidebar-primary-foreground: oklch(0.985 0.001 106.423);
  --sidebar-accent: oklch(0.97 0.001 106.424);
  --sidebar-accent-foreground: oklch(0.216 0.006 56.043);
  --sidebar-border: oklch(0.923 0.003 48.717);
  --sidebar-ring: oklch(0.709 0.01 56.259);
  --base-1: hsl(120 20% 99.01960784313727%);
  --base-2: hsl(120 16.666666666666625% 97.6470588235294%);
  --base-3: hsl(120 6.666666666666641% 94.11764705882352%);
  --base-4: hsl(120 4.347826086956503% 90.98039215686275%);
  --base-5: hsl(120 4.918032786885227% 88.0392156862745%);
  --base-6: hsl(120 3.8961038961038836% 84.90196078431373%);
  --base-7: hsl(120 3.03030303030302% 80.58823529411765%);
  --base-8: hsl(105.00000000000011 2.898550724637692% 72.94117647058825%);
  --base-9: hsl(102.85714285714293 3.004291845493564% 54.313725490196084%);
  --base-10: hsl(102.85714285714283 2.766798418972339% 50.3921568627451%);
  --base-11: hsl(110.00000000000003 3.0612244897959147% 38.431372549019606%);
  --base-12: hsl(108 8.196721311475414% 11.96078431372549%);
  --accent-1: hsl(30 50% 99.2156862745098%);
  --accent-2: hsl(29.99999999999986 50.00000000000012% 97.64705882352942%);
  --accent-3: hsl(28.000000000000007 45.45454545454551% 93.52941176470588%);
  --accent-4: hsl(28.695652173913086 43.39622641509433% 89.60784313725489%);
  --accent-5: hsl(29.090909090909093 45.20547945205476% 85.68627450980392%);
  --accent-6: hsl(29.333333333333336 45.45454545454546% 80.58823529411765%);
  --accent-7: hsl(28.52459016393443 46.564885496183216% 74.31372549019608%);
  --accent-8: hsl(27.74999999999999 44.943820224719104% 65.09803921568627%);
  --accent-9: hsl(27.52941176470588 34.13654618473896% 51.17647058823529%);
  --accent-10: hsl(26.493506493506487 31.68724279835391% 47.647058823529406%);
  --accent-11: hsl(24.406779661016955 29.648241206030146% 39.01960784313726%);
  --accent-12: hsl(18.750000000000014 14.814814814814813% 21.176470588235293%);
  --destructive-foreground: hsl(
    7.868852459016397 49.59349593495935% 24.11764705882353%
  );
}

.dark {
  --background: hsl(90 5.88235294117647% 6.666666666666667%);
  --foreground: hsl(120 5.555555555555538% 92.94117647058823%);
  --card: hsl(90 4.166666666666666% 9.411764705882353%);
  --card-foreground: hsl(120 5.555555555555538% 92.94117647058823%);
  --popover: hsl(90 5.88235294117647% 6.666666666666667%);
  --popover-foreground: hsl(120 5.555555555555538% 92.94117647058823%);
  --primary: hsl(131.25 38.709677419354826% 51.37254901960784%);
  --primary-foreground: hsl(0 0% 100%);
  --secondary: hsl(90 4.166666666666666% 9.411764705882353%);
  --secondary-foreground: hsl(
    105.00000000000006 5.1282051282051295% 69.41176470588235%
  );
  --muted: hsl(90 4.166666666666666% 9.411764705882353%);
  --muted-foreground: hsl(
    105.00000000000006 5.1282051282051295% 69.41176470588235%
  );
  --accent: hsl(27.407407407407415 36.32286995515695% 56.27450980392157%);
  --accent-foreground: hsl(0 0% 100%);
  --destructive: hsl(10.94117647058823 81.73076923076924% 59.21568627450981%);
  --border: hsl(90 3.571428571428571% 21.96078431372549%);
  --input: hsl(90 3.571428571428571% 21.96078431372549%);
  --ring: hsl(90 3.571428571428571% 21.96078431372549%);
  --chart-1: hsl(27.407407407407415 36.32286995515695% 56.27450980392157%);
  --chart-2: hsl(27.88732394366198 49.65034965034964% 71.96078431372548%);
  --chart-3: hsl(27.52941176470588 34.13654618473896% 51.17647058823529%);
  --chart-4: hsl(27.77777777777778 27.83505154639175% 38.03921568627451%);
  --chart-5: hsl(25.999999999999996 24.19354838709677% 24.313725490196077%);
  --sidebar: oklch(0.216 0.006 56.043);
  --sidebar-foreground: oklch(0.985 0.001 106.423);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0.001 106.423);
  --sidebar-accent: oklch(0.268 0.007 34.298);
  --sidebar-accent-foreground: oklch(0.985 0.001 106.423);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.553 0.013 58.071);
  --base-1: hsl(90 5.88235294117647% 6.666666666666667%);
  --base-2: hsl(90 4.166666666666666% 9.411764705882353%);
  --base-3: hsl(89.99999999999989 3.0303030303030307% 12.941176470588234%);
  --base-4: hsl(100.00000000000004 3.7037037037036993% 15.88235294117647%);
  --base-5: hsl(99.99999999999996 3.157894736842109% 18.627450980392158%);
  --base-6: hsl(90 3.571428571428571% 21.96078431372549%);
  --base-7: hsl(96.00000000000007 3.5971223021582706% 27.254901960784316%);
  --base-8: hsl(111.42857142857146 3.7037037037037055% 37.05882352941177%);
  --base-9: hsl(108.00000000000003 4.672897196261679% 41.96078431372549%);
  --base-10: hsl(106.6666666666666 3.734439834024895% 47.25490196078431%);
  --base-11: hsl(105.00000000000006 5.1282051282051295% 69.41176470588235%);
  --base-12: hsl(120 5.555555555555538% 92.94117647058823%);
  --accent-1: hsl(40 9.090909090909092% 6.470588235294117%);
  --accent-2: hsl(20 12% 9.803921568627452%);
  --accent-3: hsl(21.818181818181838 15.942028985507248% 13.529411764705882%);
  --accent-4: hsl(26.250000000000014 19.047619047619047% 16.470588235294116%);
  --accent-5: hsl(24.545454545454554 21.56862745098039% 20%);
  --accent-6: hsl(25.999999999999996 24.19354838709677% 24.313725490196077%);
  --accent-7: hsl(25.50000000000001 25.97402597402597% 30.19607843137255%);
  --accent-8: hsl(27.77777777777778 27.83505154639175% 38.03921568627451%);
  --accent-9: hsl(27.52941176470588 34.13654618473896% 51.17647058823529%);
  --accent-10: hsl(27.407407407407415 36.32286995515695% 56.27450980392157%);
  --accent-11: hsl(27.88732394366198 49.65034965034964% 71.96078431372548%);
  --accent-12: hsl(34.50000000000001 60.60606060606059% 87.05882352941177%);
  --destructive-foreground: hsl(10 85.71428571428571% 89.01960784313725%);
  --radius: 0.75rem;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .bg-leaves {
    --s: 200px;
    --c1: theme(colors.lime.50);
    --c2: theme(colors.rose.100);
    --c3: theme(colors.amber.100);
    --c4: theme(colors.yellow.100);
    --c5: theme(colors.green.100);

    --_g: radial-gradient(#0000 70%, var(--c1) 71%);
    background:
      var(--_g),
      var(--_g) calc(var(--s) / 2) calc(var(--s) / 2),
      conic-gradient(
        var(--c2) 25%,
        var(--c3) 0 50%,
        var(--c4) 0 75%,
        var(--c5) 0
      );
    background-size: var(--s) var(--s);
  }

  /* Dirty hack for hiding <ShowViewHeader /> edit button */
  .mint-show-header [data-slot="button"][href*="/show"] {
    display: none;
  }
}
