@import "tailwindcss";
@import "tw-animate-css";

@plugin "@tailwindcss/typography";

@config "../tailwind.config.js";

@custom-variant dark (&:is(.dark *));

@theme inline {
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);
    --radius: var(--radius);
    --color-destructive-foreground: var(--destructive-foreground);
}

@layer base {
    :root {
        --background: oklch(1 0 0);
        --foreground: oklch(0.141 0.004 285.824);
        --card: oklch(1 0 0);
        --card-foreground: oklch(0.141 0.004 285.824);
        --popover: oklch(1 0 0);
        --popover-foreground: oklch(0.141 0.004 285.824);
        --primary: oklch(0.56 0.086 161.501);
        --primary-foreground: oklch(1 0 0);
        --secondary: oklch(0.968 0.001 286.375);
        --secondary-foreground: oklch(0.21 0.006 285.884);
        --muted: oklch(0.968 0.001 286.375);
        --muted-foreground: oklch(0.552 0.014 285.942);
        --accent: oklch(0.968 0.001 286.375);
        --accent-foreground: oklch(0.21 0.006 285.884);
        --destructive: oklch(0.56 0.227 24.826);
        --destructive-foreground: oklch(1 0 0);
        --border: oklch(0.92 0.004 286.32);
        --input: oklch(0.92 0.004 286.32);
        --ring: oklch(0.56 0.086 161.501);
        --chart-1: oklch(0.56 0.086 161.501);
        --chart-2: oklch(0.561 0.15 341.459);
        --chart-3: oklch(0.56 0.114 41.76);
        --chart-4: oklch(0.561 0.111 251.805);
        --chart-5: oklch(0.559 0.09 71.405);
        --sidebar-background: oklch(0.985 0 0);
        --sidebar-foreground: oklch(0.37 0.012 285.801);
        --sidebar-primary: oklch(0.21 0.006 285.884);
        --sidebar-primary-foreground: oklch(0.985 0 0);
        --sidebar-accent: oklch(0.968 0.001 286.375);
        --sidebar-accent-foreground: oklch(0.21 0.006 285.884);
        --sidebar-border: oklch(0.928 0.006 264.531);
        --sidebar-ring: oklch(0.623 0.188 259.796);
        --radius: 0.5rem;
    }

    .dark {
        --background: oklch(0.141 0.004 285.824);
        --foreground: oklch(0.985 0 0);
        --card: oklch(0.141 0.004 285.824);
        --card-foreground: oklch(0.985 0 0);
        --popover: oklch(0.141 0.004 285.824);
        --popover-foreground: oklch(0.985 0 0);
        --primary: oklch(0.759 0.102 161.652);
        --primary-foreground: oklch(0.141 0.004 285.824);
        --secondary: oklch(0.274 0.005 286.033);
        --secondary-foreground: oklch(0.985 0 0);
        --muted: oklch(0.274 0.005 286.033);
        --muted-foreground: oklch(0.712 0.013 286.068);
        --accent: oklch(0.274 0.005 286.033);
        --accent-foreground: oklch(0.985 0 0);
        --destructive: oklch(0.759 0.145 16.921);
        --destructive-foreground: oklch(0.141 0.004 285.824);
        --border: oklch(0.274 0.005 286.033);
        --input: oklch(0.274 0.005 286.033);
        --ring: oklch(0.759 0.102 161.652);
        --chart-1: oklch(0.759 0.102 161.652);
        --chart-2: oklch(0.76 0.107 341.522);
        --chart-3: oklch(0.757 0.096 40.777);
        --chart-4: oklch(0.762 0.085 250.633);
        --chart-5: oklch(0.757 0.099 70.952);
        --sidebar-background: oklch(0.21 0.006 285.884);
        --sidebar-foreground: oklch(0.968 0.001 286.375);
        --sidebar-primary: oklch(0.488 0.217 264.388);
        --sidebar-primary-foreground: oklch(1 0 0);
        --sidebar-accent: oklch(0.274 0.005 286.033);
        --sidebar-accent-foreground: oklch(0.968 0.001 286.375);
        --sidebar-border: oklch(0.274 0.005 286.033);
        --sidebar-ring: oklch(0.623 0.188 259.796);
    }
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }

    body {
        @apply bg-background text-foreground;
    }
}

@layer utilities {
    .bg-leaves {
        --s: 200px;
        --c1: theme(colors.lime.50);
        --c2: theme(colors.rose.100);
        --c3: theme(colors.amber.100);
        --c4: theme(colors.yellow.100);
        --c5: theme(colors.green.100);

        --_g: radial-gradient(#0000 70%, var(--c1) 71%);
        background: var(--_g),
        var(--_g) calc(var(--s) / 2) calc(var(--s) / 2),
        conic-gradient(
                var(--c2) 25%,
                var(--c3) 0 50%,
                var(--c4) 0 75%,
                var(--c5) 0
        );
        background-size: var(--s) var(--s);
    }

    /* Dirty hack for hiding <ShowViewHeader /> edit button */
    .mint-show-header [data-slot="button"][href*="/show"] {
        display: none;
    }
}

/* On Chromium-based browsers, `object-fit: cover` images look pixelated. This will fix it! */
img {
    overflow-clip-margin: unset !important;
}

.ProseMirror {
    outline: none;
    @apply border-b-2 border-dotted border-ring/25;
}

.tiptap p.is-editor-empty:first-child::before {
    color: #adb5bd;
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
}
